[submodule "frontend"]
	path = frontend
	url = https://github.com/ZSBRybnik/frontend
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/ZSBRybnik/backend
	branch = master
[submodule "extension"]
	path = extension
	url = https://github.com/ZSBRybnik/extension
	branch = master
[submodule "argo-cd"]
	path = argo-cd
	url = https://github.com/ZSBRybnik/argo-cd
	branch = master
